n8n-workflows/larry-trigger.json
{
  "name": "Larry SDR — Lead Webhook Trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "larry-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook — Receive Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "larry-lead-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ADSCALE_SERVER_URL }}/webhooks/lead",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Tally-Signature",
              "value": "={{ $json.headers['x-tally-signature'] || '' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Forward to Larry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true, forwarded: true }) }}"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook — Receive Lead": {
      "main": [
        [{ "node": "Forward to Larry", "type": "main", "index": 0 }]
      ]
    },
    "Forward to Larry": {
      "main": [
        [{ "node": "Respond OK", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "adscale-larry-trigger-v1",
  "meta": {
    "instanceId": "adscale-labs",
    "notes": "Alternative to direct Tally→server webhook. Use this if you want n8n to be the entry point for all leads."
  }
}
