n8n-workflows/optimizer-weekly.json
{
  "name": "Optimizer — Weekly Self-Improvement (Sunday Midnight)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * 0"
            }
          ]
        }
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000001",
      "name": "Schedule Trigger — Sunday Midnight",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ADSCALE_SERVER_URL }}/run-agent/optimizer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_TOKEN }}"
            }
          ]
        },
        "options": { "timeout": 300000 }
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000002",
      "name": "Trigger Optimizer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "const resp = $json; return [{ json: { message: `Optimizer triggered: ${resp.status} at ${new Date().toISOString()}`, agent: 'optimizer' } }];"
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000003",
      "name": "Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Schedule Trigger — Sunday Midnight": {
      "main": [
        [{ "node": "Trigger Optimizer", "type": "main", "index": 0 }]
      ]
    },
    "Trigger Optimizer": {
      "main": [
        [{ "node": "Log", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "id": "adscale-optimizer-weekly-v1",
  "meta": {
    "notes": "Optimizer runs on Sunday midnight. It reviews the full week and updates prompts, writes SOPs, and generates a performance report. Allow up to 5 minutes to complete."
  }
}
